#canvas {
  border: 1px solid black;
}

.bg-header {
  background: url(https://images.pexels.com/photos/1906606/pexels-photo-1906606.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) center center no-repeat;
  background-attachment: fixed;
}

.bg-quote {
  background: url(https://images.pexels.com/photos/10660567/pexels-photo-10660567.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) center center no-repeat;
  background-attachment: fixed;
}

.bg-footer {
  background: url(https://images.pexels.com/photos/1157151/pexels-photo-1157151.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) center center no-repeat;
  background-attachment: fixed;
}