#canvas {
  border: 2px solid black;
}

.bg-header {
  background: url(https://images.pexels.com/photos/1906606/pexels-photo-1906606.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) center center no-repeat;
  background-attachment: fixed;
}

.bg-quote {
  background: url(https://images.pexels.com/photos/10660567/pexels-photo-10660567.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) center center no-repeat;
  background-attachment: fixed;
}

.bg-footer {
  background: url(https://images.pexels.com/photos/8061477/pexels-photo-8061477.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) center center no-repeat;
  background-attachment: fixed;
}